[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Reference models and tools for Cloud TPUs.
[access "refs/*"]
	owner = group user/JIANG Yichen (yichenj)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/JIANG Yichen (yichenj)
	label-Verified = -1..+1 group user/JIANG Yichen (yichenj)
	push = group user/JIANG Yichen (yichenj)
	read = group user/JIANG Yichen (yichenj)
	rebase = group user/JIANG Yichen (yichenj)
	removeReviewer = group user/JIANG Yichen (yichenj)
	submit = group user/JIANG Yichen (yichenj)
[access "refs/heads/*"]
	create = group user/JIANG Yichen (yichenj)
	push = +force group user/JIANG Yichen (yichenj)
	pushMerge = group user/JIANG Yichen (yichenj)
	read = group user/JIANG Yichen (yichenj)
[access "refs/tags/*"]
	push = group user/JIANG Yichen (yichenj)
	push = +force group user/JIANG Yichen (yichenj)
